<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toph's Files</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {{#if msg}}
        <div class="alert {{type}}">
          <h4>{{msgTitle}}</h4>
            <p>{{msg}}</p>
        </div>
      {{/if}}
      <ol class="breadcrumb">
        {{#foreach path}}
          {{> page/breadcrumb }}
        {{/foreach}}
      </ol>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            {{#each list}}
              {{> page/file }}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{> page/scripts }}
  </body>
</html>
