<!DOCTYPE html>
<html class=" js no-touch geolocation cssanimations csstransforms no-csstransforms3d csstransitions queryselectorall">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <title>Toph</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	  <meta name="HandheldFriendly" content="true">
	  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen, handheld">
	  <link rel="stylesheet" type="text/css" href="/css/enhanced.css" media="screen  and (min-width: 40.5em)">
    <script type="text/javascript" src="/scrpits/modernizr.js"></script>
  </head>
  
  <body id="page" class="">
	  <header role="banner">
      <div>
        <h1 class="logo">
          <a href="/"><img src="/images/logo.png" alt="Files"></a>
        </h1>
        <ul id="nav-anchors" class="nav-anchors">
        	<li><a href="#nav" id="menu-anchor">Menu</a></li>
        	<li><a href="#search" id="search-anchor">Search</a></li>
        </ul>
        <form id="search" action="" method="post" class="search reveal" style="">
          <fieldset>
            <legend>Search the Site</legend>
            <label for="search-site">Search site</label>
            <input type="search" id="search-site" placeholder="Search">
            <input type="submit" value="Search">
          </fieldset>
        </form>
        <nav id="nav" class="nav reveal" style="">
          <ul role="navigation">
            <li><a href="#">Settings</a></li>
          </ul>
        </nav>
      </div>
	  </header>
	  <div class="content fileList" role="main">
      <section class="files-main">
        <header>
          <ul class="bread">
            {{#each path}}
              {{> page/breadcrumb }}
            {{/each}}
          </ul>
        </header>
        <section class="aux files loaded" id="files">
          <header id="tab-reviews">
            <a href="#" class="disabled open">
              <h3>{{total}} Files</h3>
            </a>
          </header>
          <div role="tabpanel" style="">
            <div id="p-reviews" aria-labeledby="tab-reviews">
              <ol class="files-list">
                {{#each list}}
                  {{> page/file }}
                {{/each}}
              </ol>
            </div>
          </div>
        </section>
      </section>
	  </div>
	  <footer class="footer">
	    <div>
        <ul class="service-links">
          <li class="tel"><a href="http://www.github.com/seanstar12/nodeFileBrowser" title="Github">Fork On Github</a></li>
          <li><a href="#">Something</a></li>
          <li><a href="#page" class="top">Back to Top</a></li>
        </ul>
      </div>
	  </footer>
	  <script type="text/javascript" src="/scripts/jquery.js"></script>
	  <script type="text/javascript" src="/scripts/init.js"></script>
  </body>
</html>
