<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toph's Files Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <form class="form-signin" action="/login" method="post">
      <h2 class="form-signin-heading">Toph's File Storage</h2>
      {{#if title}}
        <div class="alert {{type}}">
          <h4>{{title}}</h4>
            <p>{{msg}}</p>
        </div>
      {{/if}}
      <div class="message">
        <p>Sign in below or <a href="/signup">sign up</a>.</p>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Log In</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="emailAddr" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" 
                     id="email" name="email" placeholder="Email" 
                     autofocus="" {{#if email}} value="{{email}}"{{/if}}
              >
            </div>
          </div>
          <div class="form-group">
            <label for="pass" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="pass" name="pass"  placeholder="Password">
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    </div>
    {{> page/scripts }}
  </body>
</html>
