<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toph's Files Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <form class="form-signin" action="/login" method="post">
      <h2 class="form-signin-heading">Toph's File Storage</h2>
      {{#if err}}
        <div class="alert alert-danger">
          <h4>{{desc}}</h4>
            <p>{{msg}}</p>
        </div>
      {{/if}}
      <input name="user" type="text" class="form-control" placeholder="User Name" autofocus="">
      <input name="pass" type="password" class="form-control" placeholder="Password">
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    </div>
    {{> page/scripts }}
  </body>
</html>
