<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toph's Files Sign Up</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <form role='form' class="form-signup" action="/signup" method="post">
      <h2 class="form-signin-heading">Sign Up. It's Free*.</h2>
      {{#if title}}
        <div class="alert {{type}}">
          <h4>{{title}}</h4>
            <p>{{msg}}</p>
        </div>
      {{/if}}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User Stuff</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="pass" name="pass"  placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name='remember'> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-lg-2 control-label">User Type</label>
            <div class="col-lg-10">
              <select class="form-control" name="type">
                <option>Standard</option>
                <option>Moderator</option>
                <option>Administrator</option>
              </select> 
            </div>
          </div>
        </div>
      </div>
      {{#if verify}}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Verification</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="human" class="col-lg-2 control-label">{{human}}</label>
            <div class="col-lg-3">
              <input type="human" class="form-control" id="human" name="human" placeholder="Are you human?">
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      <br>
      <button class="btn btn-primary btn-block" type="submit">Create User</button>
      <span><small>*By signing up, you agree to purchase Sean one 20oz Bottle of Mtn Dew.</small></span>
    </form>
    </div>
    {{> page/scripts }}
  </body>
</html>
