{{#if path}}
  <li class="fileListItem">
    <div class="body">
      <span class="file {{type}}">
        <a href="{{path}}">{{name}}</a>
      </span>
      <span class="fileSize">
        {{size}}
      </span>
    </div>
  </li>
{{/if}}
